.itemContainer {
  width: 240px;
  height: 380px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fff;
  transition: border 0.2s;
}

.itemContainer:hover {
  border-color: skyblue;
}

.imageContainer {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  height: 42px;
  overflow: hidden;
  margin-bottom: 10px;
}

.desc {
  font-size: 0.8rem;
  line-height: 1.2;
  color: #7c7c7c;
  text-align: justify;
  height: 80px;
  margin-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.price {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.ratingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  background: #4b5f86;
  color: #ffd900;
  font-size: 1rem;
  font-weight: 600;
  padding: 4px;
}

.ratingCount {
  font-size: 0.8rem;
  padding-top: 4px;
}
